openapi: 3.2.0
info:
  title: i6eal Open AI Data EU Platform Automation Monitor API
  version: 1.0.0
  description: Open datasets on artificial intelligence in Germany and the EU — public procurement, federal budget lines, case law, supervision, standardisation, medical devices, enforcement and more.
  termsOfService: https://i6eal.de/tools/daten/
  contact:
    name: i6eal
    url: https://i6eal.de/kontakt/
    email: ai@i6eal.de
  license:
    name: CC BY 4.0 — i6eal compilation only; source records retain source-specific rights
    url: https://i6eal.de/tools/daten/
  x-logo:
    url: https://i6eal.de/publisher-logo.png
    altText: i6eal
servers:
- url: https://i6eal.de
  description: Production — static files behind CloudFront
security: []
tags:
- name: EU Platform Automation Monitor
  description: Monthly DSA statements on automated detection, decision automation and reported restrictions by platform; automation is not relabelled as AI.
  externalDocs:
    description: Dataset documentation and methodology
    url: https://i6eal.de/tools/plattformautomationsmonitor/
paths:
  /data/plattformautomationsmonitor/index.json:
    get:
      tags:
      - EU Platform Automation Monitor
      operationId: getEuPlatformAutomationMonitorIndex
      summary: Full index — EU Platform Automation Monitor
      description: 'Monthly DSA statements on automated detection, decision automation and reported restrictions by platform; automation is not relabelled as AI.


        Attribution: i6eal analysis of the European Commission DSA Transparency Database monthly aggregated-simple data.


        Reuse: The DSA Transparency Database is licensed under CC BY 4.0. The i6eal compilation attributes the European Commission and documents each transformation.'
      responses:
        '200':
          description: Full index of EU Platform Automation Monitor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetIndex'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/plattformautomationsmonitor/platforms.csv:
    get:
      tags:
      - EU Platform Automation Monitor
      operationId: getEuPlatformAutomationMonitorPlatforms
      summary: Platforms — EU Platform Automation Monitor
      description: 'Monthly DSA statements on automated detection, decision automation and reported restrictions by platform; automation is not relabelled as AI.


        Attribution: i6eal analysis of the European Commission DSA Transparency Database monthly aggregated-simple data.


        Reuse: The DSA Transparency Database is licensed under CC BY 4.0. The i6eal compilation attributes the European Commission and documents each transformation.'
      responses:
        '200':
          description: Platforms of EU Platform Automation Monitor.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvTable'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/plattformautomationsmonitor/flows.csv:
    get:
      tags:
      - EU Platform Automation Monitor
      operationId: getEuPlatformAutomationMonitorFlows
      summary: Automation flows — EU Platform Automation Monitor
      description: 'Monthly DSA statements on automated detection, decision automation and reported restrictions by platform; automation is not relabelled as AI.


        Attribution: i6eal analysis of the European Commission DSA Transparency Database monthly aggregated-simple data.


        Reuse: The DSA Transparency Database is licensed under CC BY 4.0. The i6eal compilation attributes the European Commission and documents each transformation.'
      responses:
        '200':
          description: Automation flows of EU Platform Automation Monitor.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvTable'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/plattformautomationsmonitor/timeline.csv:
    get:
      tags:
      - EU Platform Automation Monitor
      operationId: getEuPlatformAutomationMonitorTimeline
      summary: Monthly timeline — EU Platform Automation Monitor
      description: 'Monthly DSA statements on automated detection, decision automation and reported restrictions by platform; automation is not relabelled as AI.


        Attribution: i6eal analysis of the European Commission DSA Transparency Database monthly aggregated-simple data.


        Reuse: The DSA Transparency Database is licensed under CC BY 4.0. The i6eal compilation attributes the European Commission and documents each transformation.'
      responses:
        '200':
          description: Monthly timeline of EU Platform Automation Monitor.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvTable'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/plattformautomationsmonitor/revisions.csv:
    get:
      tags:
      - EU Platform Automation Monitor
      operationId: getEuPlatformAutomationMonitorRevisions
      summary: Revisions — EU Platform Automation Monitor
      description: 'Monthly DSA statements on automated detection, decision automation and reported restrictions by platform; automation is not relabelled as AI.


        Attribution: i6eal analysis of the European Commission DSA Transparency Database monthly aggregated-simple data.


        Reuse: The DSA Transparency Database is licensed under CC BY 4.0. The i6eal compilation attributes the European Commission and documents each transformation.'
      responses:
        '200':
          description: Revisions of EU Platform Automation Monitor.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvTable'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/plattformautomationsmonitor/feed.atom:
    get:
      tags:
      - EU Platform Automation Monitor
      operationId: getEuPlatformAutomationMonitorFeed
      summary: Change feed — EU Platform Automation Monitor
      description: 'Monthly DSA statements on automated detection, decision automation and reported restrictions by platform; automation is not relabelled as AI.


        Attribution: i6eal analysis of the European Commission DSA Transparency Database monthly aggregated-simple data.


        Reuse: The DSA Transparency Database is licensed under CC BY 4.0. The i6eal compilation attributes the European Commission and documents each transformation.'
      responses:
        '200':
          description: Change feed of EU Platform Automation Monitor.
          content:
            application/atom+xml:
              schema:
                $ref: '#/components/schemas/AtomFeed'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/plattformautomationsmonitor/methodology.json:
    get:
      tags:
      - EU Platform Automation Monitor
      operationId: getEuPlatformAutomationMonitorMethodology
      summary: Methodology — EU Platform Automation Monitor
      description: 'Monthly DSA statements on automated detection, decision automation and reported restrictions by platform; automation is not relabelled as AI.


        Attribution: i6eal analysis of the European Commission DSA Transparency Database monthly aggregated-simple data.


        Reuse: The DSA Transparency Database is licensed under CC BY 4.0. The i6eal compilation attributes the European Commission and documents each transformation.'
      responses:
        '200':
          description: Methodology of EU Platform Automation Monitor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetResource'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    AtomFeed:
      type: string
      description: Atom 1.0 feed of observed changes to this dataset.
    CsvTable:
      type: string
      description: RFC 4180 CSV with a header row, UTF-8 encoded.
    DatasetResource:
      type: object
      description: A dataset-specific JSON document. See the dataset entry in the DCAT catalogue for its shape.
      additionalProperties: true
    DatasetIndex:
      type: object
      description: Every dataset index shares the envelope below. The remaining top-level keys are dataset-specific — consult the `methodology` block and the dataset entry in the DCAT catalogue.
      required:
      - schemaVersion
      properties:
        schemaVersion:
          description: Payload contract of this dataset. Changes only on a breaking shape change.
          oneOf:
          - type: string
          - type: integer
        generatedAt:
          type: string
          format: date-time
          description: When this projection was built.
        trackingSince:
          type: string
          description: Start of the i6eal observation period — distinct from the coverage of the underlying sources.
        methodology:
          type: object
          description: How the dataset is collected and what it does and does not claim.
        downloads:
          type: object
          additionalProperties:
            type: string
          description: Named paths of sibling distributions published with this dataset.
      additionalProperties: true
  responses:
    NotFound:
      description: No distribution exists at this path.
externalDocs:
  description: Open data hub, licensing and citation guidance
  url: https://i6eal.de/tools/daten/
