openapi: 3.2.0
info:
  title: i6eal Open AI Data German & EU AI Standardisation Monitor…
  version: 1.0.0
  description: Open datasets on artificial intelligence in Germany and the EU — public procurement, federal budget lines, case law, supervision, standardisation, medical devices, enforcement and more.
  termsOfService: https://i6eal.de/tools/daten/
  contact:
    name: i6eal
    url: https://i6eal.de/kontakt/
    email: ai@i6eal.de
  license:
    name: CC BY 4.0 — i6eal compilation only; source records retain source-specific rights
    url: https://i6eal.de/tools/daten/
  x-logo:
    url: https://i6eal.de/publisher-logo.png
    altText: i6eal
servers:
- url: https://i6eal.de
  description: Production — static files behind CloudFront
security: []
tags:
- name: German & EU AI Standardisation Monitor
  description: Standardisation request, work items, lifecycle events and EU references as separate inspectable evidence lanes.
  externalDocs:
    description: Dataset documentation and methodology
    url: https://i6eal.de/tools/ki-normungsmonitor/
paths:
  /data/ki-normungsmonitor/index.json:
    get:
      tags:
      - German & EU AI Standardisation Monitor
      operationId: getAiStandardisationMonitorIndex
      summary: Full index — German & EU AI Standardisation Monitor
      description: 'Standardisation request, work items, lifecycle events and EU references as separate inspectable evidence lanes.


        Attribution: i6eal compilation based on the EU standardisation request, CEN-CENELEC work programme, EU references and DIN mirrors.


        Reuse: Only metadata and evidence references are published, not standards text. CEN-CENELEC, DIN and EU content retain their respective rights and terms.'
      responses:
        '200':
          description: Full index of German & EU AI Standardisation Monitor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetIndex'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-normungsmonitor/work-items.csv:
    get:
      tags:
      - German & EU AI Standardisation Monitor
      operationId: getAiStandardisationMonitorWorkItems
      summary: Work items — German & EU AI Standardisation Monitor
      description: 'Standardisation request, work items, lifecycle events and EU references as separate inspectable evidence lanes.


        Attribution: i6eal compilation based on the EU standardisation request, CEN-CENELEC work programme, EU references and DIN mirrors.


        Reuse: Only metadata and evidence references are published, not standards text. CEN-CENELEC, DIN and EU content retain their respective rights and terms.'
      responses:
        '200':
          description: Work items of German & EU AI Standardisation Monitor.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvTable'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-normungsmonitor/events.csv:
    get:
      tags:
      - German & EU AI Standardisation Monitor
      operationId: getAiStandardisationMonitorEvents
      summary: Chronicle — German & EU AI Standardisation Monitor
      description: 'Standardisation request, work items, lifecycle events and EU references as separate inspectable evidence lanes.


        Attribution: i6eal compilation based on the EU standardisation request, CEN-CENELEC work programme, EU references and DIN mirrors.


        Reuse: Only metadata and evidence references are published, not standards text. CEN-CENELEC, DIN and EU content retain their respective rights and terms.'
      responses:
        '200':
          description: Chronicle of German & EU AI Standardisation Monitor.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvTable'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-normungsmonitor/feed.atom:
    get:
      tags:
      - German & EU AI Standardisation Monitor
      operationId: getAiStandardisationMonitorFeed
      summary: Change feed — German & EU AI Standardisation Monitor
      description: 'Standardisation request, work items, lifecycle events and EU references as separate inspectable evidence lanes.


        Attribution: i6eal compilation based on the EU standardisation request, CEN-CENELEC work programme, EU references and DIN mirrors.


        Reuse: Only metadata and evidence references are published, not standards text. CEN-CENELEC, DIN and EU content retain their respective rights and terms.'
      responses:
        '200':
          description: Change feed of German & EU AI Standardisation Monitor.
          content:
            application/atom+xml:
              schema:
                $ref: '#/components/schemas/AtomFeed'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-normungsmonitor/methodology.json:
    get:
      tags:
      - German & EU AI Standardisation Monitor
      operationId: getAiStandardisationMonitorMethodology
      summary: Methodology — German & EU AI Standardisation Monitor
      description: 'Standardisation request, work items, lifecycle events and EU references as separate inspectable evidence lanes.


        Attribution: i6eal compilation based on the EU standardisation request, CEN-CENELEC work programme, EU references and DIN mirrors.


        Reuse: Only metadata and evidence references are published, not standards text. CEN-CENELEC, DIN and EU content retain their respective rights and terms.'
      responses:
        '200':
          description: Methodology of German & EU AI Standardisation Monitor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetResource'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    AtomFeed:
      type: string
      description: Atom 1.0 feed of observed changes to this dataset.
    CsvTable:
      type: string
      description: RFC 4180 CSV with a header row, UTF-8 encoded.
    DatasetResource:
      type: object
      description: A dataset-specific JSON document. See the dataset entry in the DCAT catalogue for its shape.
      additionalProperties: true
    DatasetIndex:
      type: object
      description: Every dataset index shares the envelope below. The remaining top-level keys are dataset-specific — consult the `methodology` block and the dataset entry in the DCAT catalogue.
      required:
      - schemaVersion
      properties:
        schemaVersion:
          description: Payload contract of this dataset. Changes only on a breaking shape change.
          oneOf:
          - type: string
          - type: integer
        generatedAt:
          type: string
          format: date-time
          description: When this projection was built.
        trackingSince:
          type: string
          description: Start of the i6eal observation period — distinct from the coverage of the underlying sources.
        methodology:
          type: object
          description: How the dataset is collected and what it does and does not claim.
        downloads:
          type: object
          additionalProperties:
            type: string
          description: Named paths of sibling distributions published with this dataset.
      additionalProperties: true
  responses:
    NotFound:
      description: No distribution exists at this path.
externalDocs:
  description: Open data hub, licensing and citation guidance
  url: https://i6eal.de/tools/daten/
