openapi: 3.2.0
info:
  title: i6eal Open AI Data German & EU AI Supervision Monitor API
  version: 1.0.0
  description: Open datasets on artificial intelligence in Germany and the EU — public procurement, federal budget lines, case law, supervision, standardisation, medical devices, enforcement and more.
  termsOfService: https://i6eal.de/tools/daten/
  contact:
    name: i6eal
    url: https://i6eal.de/kontakt/
    email: ai@i6eal.de
  license:
    name: CC BY 4.0 — i6eal compilation only; source records retain source-specific rights
    url: https://i6eal.de/tools/daten/
  x-logo:
    url: https://i6eal.de/publisher-logo.png
    altText: i6eal
servers:
- url: https://i6eal.de
  description: Production — static files behind CloudFront
security: []
tags:
- name: German & EU AI Supervision Monitor
  description: Officially evidenced responsibilities, legal instruments and observations, without a compliance or effectiveness score.
  externalDocs:
    description: Dataset documentation and methodology
    url: https://i6eal.de/tools/ki-aufsichtsmonitor/
paths:
  /data/ki-aufsichtsmonitor/index.json:
    get:
      tags:
      - German & EU AI Supervision Monitor
      operationId: getAiSupervisionMonitorIndex
      summary: Full index — German & EU AI Supervision Monitor
      description: 'Officially evidenced responsibilities, legal instruments and observations, without a compliance or effectiveness score.


        Attribution: i6eal compilation of officially evidenced supervision and governance signals.


        Reuse: Legal instruments, authority records and official publications retain their respective source terms.'
      responses:
        '200':
          description: Full index of German & EU AI Supervision Monitor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetIndex'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-aufsichtsmonitor/authorities.csv:
    get:
      tags:
      - German & EU AI Supervision Monitor
      operationId: getAiSupervisionMonitorAuthorities
      summary: Authorities — German & EU AI Supervision Monitor
      description: 'Officially evidenced responsibilities, legal instruments and observations, without a compliance or effectiveness score.


        Attribution: i6eal compilation of officially evidenced supervision and governance signals.


        Reuse: Legal instruments, authority records and official publications retain their respective source terms.'
      responses:
        '200':
          description: Authorities of German & EU AI Supervision Monitor.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvTable'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-aufsichtsmonitor/instruments.csv:
    get:
      tags:
      - German & EU AI Supervision Monitor
      operationId: getAiSupervisionMonitorInstruments
      summary: Instruments — German & EU AI Supervision Monitor
      description: 'Officially evidenced responsibilities, legal instruments and observations, without a compliance or effectiveness score.


        Attribution: i6eal compilation of officially evidenced supervision and governance signals.


        Reuse: Legal instruments, authority records and official publications retain their respective source terms.'
      responses:
        '200':
          description: Instruments of German & EU AI Supervision Monitor.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvTable'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-aufsichtsmonitor/relationships.csv:
    get:
      tags:
      - German & EU AI Supervision Monitor
      operationId: getAiSupervisionMonitorRelationships
      summary: Relationships — German & EU AI Supervision Monitor
      description: 'Officially evidenced responsibilities, legal instruments and observations, without a compliance or effectiveness score.


        Attribution: i6eal compilation of officially evidenced supervision and governance signals.


        Reuse: Legal instruments, authority records and official publications retain their respective source terms.'
      responses:
        '200':
          description: Relationships of German & EU AI Supervision Monitor.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvTable'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-aufsichtsmonitor/methodology.json:
    get:
      tags:
      - German & EU AI Supervision Monitor
      operationId: getAiSupervisionMonitorMethodology
      summary: Methodology — German & EU AI Supervision Monitor
      description: 'Officially evidenced responsibilities, legal instruments and observations, without a compliance or effectiveness score.


        Attribution: i6eal compilation of officially evidenced supervision and governance signals.


        Reuse: Legal instruments, authority records and official publications retain their respective source terms.'
      responses:
        '200':
          description: Methodology of German & EU AI Supervision Monitor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetResource'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    DatasetResource:
      type: object
      description: A dataset-specific JSON document. See the dataset entry in the DCAT catalogue for its shape.
      additionalProperties: true
    CsvTable:
      type: string
      description: RFC 4180 CSV with a header row, UTF-8 encoded.
    DatasetIndex:
      type: object
      description: Every dataset index shares the envelope below. The remaining top-level keys are dataset-specific — consult the `methodology` block and the dataset entry in the DCAT catalogue.
      required:
      - schemaVersion
      properties:
        schemaVersion:
          description: Payload contract of this dataset. Changes only on a breaking shape change.
          oneOf:
          - type: string
          - type: integer
        generatedAt:
          type: string
          format: date-time
          description: When this projection was built.
        trackingSince:
          type: string
          description: Start of the i6eal observation period — distinct from the coverage of the underlying sources.
        methodology:
          type: object
          description: How the dataset is collected and what it does and does not claim.
        downloads:
          type: object
          additionalProperties:
            type: string
          description: Named paths of sibling distributions published with this dataset.
      additionalProperties: true
  responses:
    NotFound:
      description: No distribution exists at this path.
externalDocs:
  description: Open data hub, licensing and citation guidance
  url: https://i6eal.de/tools/daten/
