openapi: 3.2.0
info:
  title: i6eal Open AI Data Catalogue API
  version: 1.0.0
  description: Open datasets on artificial intelligence in Germany and the EU — public procurement, federal budget lines, case law, supervision, standardisation, medical devices, enforcement and more.
  termsOfService: https://i6eal.de/tools/daten/
  contact:
    name: i6eal
    url: https://i6eal.de/kontakt/
    email: ai@i6eal.de
  license:
    name: CC BY 4.0 — i6eal compilation only; source records retain source-specific rights
    url: https://i6eal.de/tools/daten/
  x-logo:
    url: https://i6eal.de/publisher-logo.png
    altText: i6eal
servers:
- url: https://i6eal.de
  description: Production — static files behind CloudFront
security: []
tags:
- name: Catalogue
  description: Machine-readable index of every published dataset.
paths:
  /data/catalog/dcat.jsonld:
    get:
      tags:
      - Catalogue
      operationId: getOpenDataCatalogue
      summary: DCAT-AP catalogue of every published dataset
      description: Machine-readable index of all datasets described by this API, as DCAT-AP in JSON-LD. Start here to discover distributions, temporal coverage, sources and per-dataset rights.
      responses:
        '200':
          description: DCAT-AP catalogue document.
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/DcatCatalogue'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: No distribution exists at this path.
  schemas:
    DcatCatalogue:
      type: object
      description: DCAT-AP catalogue in JSON-LD.
      additionalProperties: true
externalDocs:
  description: Open data hub, licensing and citation guidance
  url: https://i6eal.de/tools/daten/
