openapi: 3.2.0
info:
  title: i6eal Open AI Data EU AI Studies Monitor API
  version: 1.0.0
  description: Open datasets on artificial intelligence in Germany and the EU — public procurement, federal budget lines, case law, supervision, standardisation, medical devices, enforcement and more.
  termsOfService: https://i6eal.de/tools/daten/
  contact:
    name: i6eal
    url: https://i6eal.de/kontakt/
    email: ai@i6eal.de
  license:
    name: CC BY 4.0 — i6eal compilation only; source records retain source-specific rights
    url: https://i6eal.de/tools/daten/
  x-logo:
    url: https://i6eal.de/publisher-logo.png
    altText: i6eal
servers:
- url: https://i6eal.de
  description: Production — static files behind CloudFront
security: []
tags:
- name: EU AI Studies Monitor
  description: Official CTIS lifecycles of medicinal clinical trials with exact AI text evidence and separate application, country-status, recruitment, safety and results events.
  externalDocs:
    description: Dataset documentation and methodology
    url: https://i6eal.de/tools/ki-studienmonitor/
paths:
  /data/ki-studienmonitor/index.json:
    get:
      tags:
      - EU AI Studies Monitor
      operationId: getEuAiClinicalTrialLifecycleMonitorIndex
      summary: Full index — EU AI Studies Monitor
      description: 'Official CTIS lifecycles of medicinal clinical trials with exact AI text evidence and separate application, country-status, recruitment, safety and results events.


        Attribution: i6eal analysis of the public Clinical Trials Information System (CTIS) with disclosed evidence, time and privacy rules.


        Reuse: Public CTIS data from the European Medicines Agency, transformed by i6eal with data minimisation. EMA and source-platform terms govern the underlying data and documents; no unqualified dataset-specific CC licence is asserted.'
      responses:
        '200':
          description: Full index of EU AI Studies Monitor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetIndex'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-studienmonitor/studies.csv:
    get:
      tags:
      - EU AI Studies Monitor
      operationId: getEuAiClinicalTrialLifecycleMonitorStudies
      summary: Trials — EU AI Studies Monitor
      description: 'Official CTIS lifecycles of medicinal clinical trials with exact AI text evidence and separate application, country-status, recruitment, safety and results events.


        Attribution: i6eal analysis of the public Clinical Trials Information System (CTIS) with disclosed evidence, time and privacy rules.


        Reuse: Public CTIS data from the European Medicines Agency, transformed by i6eal with data minimisation. EMA and source-platform terms govern the underlying data and documents; no unqualified dataset-specific CC licence is asserted.'
      responses:
        '200':
          description: Trials of EU AI Studies Monitor.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvTable'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-studienmonitor/evidence.csv:
    get:
      tags:
      - EU AI Studies Monitor
      operationId: getEuAiClinicalTrialLifecycleMonitorEvidence
      summary: AI text evidence — EU AI Studies Monitor
      description: 'Official CTIS lifecycles of medicinal clinical trials with exact AI text evidence and separate application, country-status, recruitment, safety and results events.


        Attribution: i6eal analysis of the public Clinical Trials Information System (CTIS) with disclosed evidence, time and privacy rules.


        Reuse: Public CTIS data from the European Medicines Agency, transformed by i6eal with data minimisation. EMA and source-platform terms govern the underlying data and documents; no unqualified dataset-specific CC licence is asserted.'
      responses:
        '200':
          description: AI text evidence of EU AI Studies Monitor.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvTable'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-studienmonitor/events.csv:
    get:
      tags:
      - EU AI Studies Monitor
      operationId: getEuAiClinicalTrialLifecycleMonitorEvents
      summary: Official events — EU AI Studies Monitor
      description: 'Official CTIS lifecycles of medicinal clinical trials with exact AI text evidence and separate application, country-status, recruitment, safety and results events.


        Attribution: i6eal analysis of the public Clinical Trials Information System (CTIS) with disclosed evidence, time and privacy rules.


        Reuse: Public CTIS data from the European Medicines Agency, transformed by i6eal with data minimisation. EMA and source-platform terms govern the underlying data and documents; no unqualified dataset-specific CC licence is asserted.'
      responses:
        '200':
          description: Official events of EU AI Studies Monitor.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvTable'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-studienmonitor/observations.csv:
    get:
      tags:
      - EU AI Studies Monitor
      operationId: getEuAiClinicalTrialLifecycleMonitorObservations
      summary: Observation changes — EU AI Studies Monitor
      description: 'Official CTIS lifecycles of medicinal clinical trials with exact AI text evidence and separate application, country-status, recruitment, safety and results events.


        Attribution: i6eal analysis of the public Clinical Trials Information System (CTIS) with disclosed evidence, time and privacy rules.


        Reuse: Public CTIS data from the European Medicines Agency, transformed by i6eal with data minimisation. EMA and source-platform terms govern the underlying data and documents; no unqualified dataset-specific CC licence is asserted.'
      responses:
        '200':
          description: Observation changes of EU AI Studies Monitor.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvTable'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-studienmonitor/feed.atom:
    get:
      tags:
      - EU AI Studies Monitor
      operationId: getEuAiClinicalTrialLifecycleMonitorFeed
      summary: Change feed — EU AI Studies Monitor
      description: 'Official CTIS lifecycles of medicinal clinical trials with exact AI text evidence and separate application, country-status, recruitment, safety and results events.


        Attribution: i6eal analysis of the public Clinical Trials Information System (CTIS) with disclosed evidence, time and privacy rules.


        Reuse: Public CTIS data from the European Medicines Agency, transformed by i6eal with data minimisation. EMA and source-platform terms govern the underlying data and documents; no unqualified dataset-specific CC licence is asserted.'
      responses:
        '200':
          description: Change feed of EU AI Studies Monitor.
          content:
            application/atom+xml:
              schema:
                $ref: '#/components/schemas/AtomFeed'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-studienmonitor/methodology.json:
    get:
      tags:
      - EU AI Studies Monitor
      operationId: getEuAiClinicalTrialLifecycleMonitorMethodology
      summary: Methodology — EU AI Studies Monitor
      description: 'Official CTIS lifecycles of medicinal clinical trials with exact AI text evidence and separate application, country-status, recruitment, safety and results events.


        Attribution: i6eal analysis of the public Clinical Trials Information System (CTIS) with disclosed evidence, time and privacy rules.


        Reuse: Public CTIS data from the European Medicines Agency, transformed by i6eal with data minimisation. EMA and source-platform terms govern the underlying data and documents; no unqualified dataset-specific CC licence is asserted.'
      responses:
        '200':
          description: Methodology of EU AI Studies Monitor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetResource'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    AtomFeed:
      type: string
      description: Atom 1.0 feed of observed changes to this dataset.
    CsvTable:
      type: string
      description: RFC 4180 CSV with a header row, UTF-8 encoded.
    DatasetResource:
      type: object
      description: A dataset-specific JSON document. See the dataset entry in the DCAT catalogue for its shape.
      additionalProperties: true
    DatasetIndex:
      type: object
      description: Every dataset index shares the envelope below. The remaining top-level keys are dataset-specific — consult the `methodology` block and the dataset entry in the DCAT catalogue.
      required:
      - schemaVersion
      properties:
        schemaVersion:
          description: Payload contract of this dataset. Changes only on a breaking shape change.
          oneOf:
          - type: string
          - type: integer
        generatedAt:
          type: string
          format: date-time
          description: When this projection was built.
        trackingSince:
          type: string
          description: Start of the i6eal observation period — distinct from the coverage of the underlying sources.
        methodology:
          type: object
          description: How the dataset is collected and what it does and does not claim.
        downloads:
          type: object
          additionalProperties:
            type: string
          description: Named paths of sibling distributions published with this dataset.
      additionalProperties: true
  responses:
    NotFound:
      description: No distribution exists at this path.
externalDocs:
  description: Open data hub, licensing and citation guidance
  url: https://i6eal.de/tools/daten/
