openapi: 3.2.0
info:
  title: i6eal Open AI Data AI Enforcement Monitor Germany & EU API
  version: 1.0.0
  description: Open datasets on artificial intelligence in Germany and the EU — public procurement, federal budget lines, case law, supervision, standardisation, medical devices, enforcement and more.
  termsOfService: https://i6eal.de/tools/daten/
  contact:
    name: i6eal
    url: https://i6eal.de/kontakt/
    email: ai@i6eal.de
  license:
    name: CC BY 4.0 — i6eal compilation only; source records retain source-specific rights
    url: https://i6eal.de/tools/daten/
  x-logo:
    url: https://i6eal.de/publisher-logo.png
    altText: i6eal
servers:
- url: https://i6eal.de
  description: Production — static files behind CloudFront
security: []
tags:
- name: AI Enforcement Monitor Germany & EU
  description: Officially published AI-related investigations, orders, fines and remedies with separate procedural stages and exact technology evidence.
  externalDocs:
    description: Dataset documentation and methodology
    url: https://i6eal.de/tools/ki-durchsetzungsmonitor/
paths:
  /data/ki-durchsetzungsmonitor/index.json:
    get:
      tags:
      - AI Enforcement Monitor Germany & EU
      operationId: getGermanyEuAiEnforcementMonitorIndex
      summary: Full index — AI Enforcement Monitor Germany & EU
      description: 'Officially published AI-related investigations, orders, fines and remedies with separate procedural stages and exact technology evidence.


        Attribution: i6eal compilation of officially published AI-related enforcement actions with primary sources.


        Reuse: The metadata compilation is licensed under CC BY 4.0. Official source texts and documents remain subject to the notices of their respective primary sources.'
      responses:
        '200':
          description: Full index of AI Enforcement Monitor Germany & EU.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetIndex'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-durchsetzungsmonitor/actions.csv:
    get:
      tags:
      - AI Enforcement Monitor Germany & EU
      operationId: getGermanyEuAiEnforcementMonitorActions
      summary: Actions — AI Enforcement Monitor Germany & EU
      description: 'Officially published AI-related investigations, orders, fines and remedies with separate procedural stages and exact technology evidence.


        Attribution: i6eal compilation of officially published AI-related enforcement actions with primary sources.


        Reuse: The metadata compilation is licensed under CC BY 4.0. Official source texts and documents remain subject to the notices of their respective primary sources.'
      responses:
        '200':
          description: Actions of AI Enforcement Monitor Germany & EU.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvTable'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-durchsetzungsmonitor/events.csv:
    get:
      tags:
      - AI Enforcement Monitor Germany & EU
      operationId: getGermanyEuAiEnforcementMonitorEvents
      summary: Chronicle — AI Enforcement Monitor Germany & EU
      description: 'Officially published AI-related investigations, orders, fines and remedies with separate procedural stages and exact technology evidence.


        Attribution: i6eal compilation of officially published AI-related enforcement actions with primary sources.


        Reuse: The metadata compilation is licensed under CC BY 4.0. Official source texts and documents remain subject to the notices of their respective primary sources.'
      responses:
        '200':
          description: Chronicle of AI Enforcement Monitor Germany & EU.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvTable'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-durchsetzungsmonitor/evidence.csv:
    get:
      tags:
      - AI Enforcement Monitor Germany & EU
      operationId: getGermanyEuAiEnforcementMonitorEvidence
      summary: Official evidence — AI Enforcement Monitor Germany & EU
      description: 'Officially published AI-related investigations, orders, fines and remedies with separate procedural stages and exact technology evidence.


        Attribution: i6eal compilation of officially published AI-related enforcement actions with primary sources.


        Reuse: The metadata compilation is licensed under CC BY 4.0. Official source texts and documents remain subject to the notices of their respective primary sources.'
      responses:
        '200':
          description: Official evidence of AI Enforcement Monitor Germany & EU.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvTable'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-durchsetzungsmonitor/feed.atom:
    get:
      tags:
      - AI Enforcement Monitor Germany & EU
      operationId: getGermanyEuAiEnforcementMonitorFeed
      summary: Change feed — AI Enforcement Monitor Germany & EU
      description: 'Officially published AI-related investigations, orders, fines and remedies with separate procedural stages and exact technology evidence.


        Attribution: i6eal compilation of officially published AI-related enforcement actions with primary sources.


        Reuse: The metadata compilation is licensed under CC BY 4.0. Official source texts and documents remain subject to the notices of their respective primary sources.'
      responses:
        '200':
          description: Change feed of AI Enforcement Monitor Germany & EU.
          content:
            application/atom+xml:
              schema:
                $ref: '#/components/schemas/AtomFeed'
        '404':
          $ref: '#/components/responses/NotFound'
  /data/ki-durchsetzungsmonitor/methodology.json:
    get:
      tags:
      - AI Enforcement Monitor Germany & EU
      operationId: getGermanyEuAiEnforcementMonitorMethodology
      summary: Methodology — AI Enforcement Monitor Germany & EU
      description: 'Officially published AI-related investigations, orders, fines and remedies with separate procedural stages and exact technology evidence.


        Attribution: i6eal compilation of officially published AI-related enforcement actions with primary sources.


        Reuse: The metadata compilation is licensed under CC BY 4.0. Official source texts and documents remain subject to the notices of their respective primary sources.'
      responses:
        '200':
          description: Methodology of AI Enforcement Monitor Germany & EU.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetResource'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    AtomFeed:
      type: string
      description: Atom 1.0 feed of observed changes to this dataset.
    CsvTable:
      type: string
      description: RFC 4180 CSV with a header row, UTF-8 encoded.
    DatasetResource:
      type: object
      description: A dataset-specific JSON document. See the dataset entry in the DCAT catalogue for its shape.
      additionalProperties: true
    DatasetIndex:
      type: object
      description: Every dataset index shares the envelope below. The remaining top-level keys are dataset-specific — consult the `methodology` block and the dataset entry in the DCAT catalogue.
      required:
      - schemaVersion
      properties:
        schemaVersion:
          description: Payload contract of this dataset. Changes only on a breaking shape change.
          oneOf:
          - type: string
          - type: integer
        generatedAt:
          type: string
          format: date-time
          description: When this projection was built.
        trackingSince:
          type: string
          description: Start of the i6eal observation period — distinct from the coverage of the underlying sources.
        methodology:
          type: object
          description: How the dataset is collected and what it does and does not claim.
        downloads:
          type: object
          additionalProperties:
            type: string
          description: Named paths of sibling distributions published with this dataset.
      additionalProperties: true
  responses:
    NotFound:
      description: No distribution exists at this path.
externalDocs:
  description: Open data hub, licensing and citation guidance
  url: https://i6eal.de/tools/daten/
